<div class="grid grid-pad">

  <div class="container col-1-2 mobile-col-1-1">
    <%= link_to root_path , alt: "Home" , class: "block header", id: "info" do %>
      <div class="text_container">
        <div class="text">
          <div class="name">Brian Donohue</div>
          <div class="tagline">Solving things</div>
        </div>
      </div>
      <% end %>
  </div>

  <div class="container-half col-1-2 mobile-col-1-1">
    <%= link_to root_path , alt: "Home" , class: "block", id: "avatar" do %><% end %>
  </div>
</div>


<div class="grid grid-pad no-overflow">
  <div class="arrow bounce">

</div>
  <div class="container-about col-1-1 mobile-col-1-1 ">

    <div class ="about">
      <p>
          Hi, I&rsquo;m Brian.
      </p>
      <p>
          I&rsquo;m originally from <a href="https://goo.gl/maps/zorhXhrVzxj" target="_blank">Marathon Ontario</a>, but have lived all across Canada
      </p>
      <p>
          I started in the Canadian Forces, ended up in radio and now work in software. Who knew?
      </p>
      <p> I somehow have two cats. I currently live in Ottawa, Ontario </p>
      <p>
        Now I work for <a href="https://shopify.com" target="_blank">Shopify</a>, where I concept solutions for <a href="https://shopify.com/plus" target="_blank">Shopify Plus </a> - our high volume / high growth product.
      </p>
      <p>
        <%= link_to "< Back", root_path %>
      </p>
     </p>
  </div>
</div>


</div>
</div>
